# Machine Learning on the Titanic Data set

### Copyrights reserved Â© by Jubeen Shah 2017.
#### X-------X-------X-------X-------X-------X-------X-------X-------X-------X

### Steps performed are as follows
1. Importing the required libraries
2. Importing the titanic data frame
3. Data cleaning and transformation
4. Encoding the data
5. Splitting the data into testing and training data set
6. Using the algorithms
7. Cross Validation


#### X-------X-------X-------X-------X-------X-------X-------X-------X-------X

### 1. Importing the required libraries
I would be using the numpy library, the pandas library, the matplotlib library for data visualisation and finally the seaborn library

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### 2. Importing the titanic data frame
This is just to import the titanic data frame so that we can work on it. While doing so we would specify the training and testing data into two varibales and then print the first ten values.

#### PANDAS Library used

In [22]:
data_train = pd.read_csv('/Users/jubeenshah/Desktop/Competitive Coding/Kaggle/01_Titanic Challenge/test.csv')
data_test = pd.read_csv('/Users/jubeenshah/Desktop/Competitive Coding/Kaggle/01_Titanic Challenge/train.csv')
print("Train Data")
print(data_train.head())
print("\nTest Data")
print(data_test.head())

Train Data
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

Test Data
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S